/*-- scss:defaults --*/

$white:    #fff !default;
$teal: #047C90;
$dark-blue: #003660;
$blue: #0000ff;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:  #06436e !default;
// $navbar-bg: $white !default;
$navbar-fg: $primary !default;
$code-color: $primary !default;
$font-family-base:  'Source Sans Pro',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
$body-color: $gray-700 !default;
$headings-font-family:  'Prata', 'Roboto', 'Playfair Display', 'Montserrat'    !default;

/*-- scss:rules --*/

// HTML selectors
ol > li {
    margin-bottom: $font-size-base * 0.25;
}

a {
    text-decoration: none;
    color: $teal;
}

strong, b {
    font-weight: 900; // does not change weight?
    color: $primary;
}

// horizontal line
// hr {
//     border: 5px solid red;
//     border-radius: 0px;
//     margin-bottom: 30px;
// }

.quarto-title .title{
    font-family: "Oleo Script", 'Merriweather', 'Roboto', $headings-font-family;
    color: $teal !important;
    border-bottom: 4px solid $teal;
    border-radius: 0px;
    margin-bottom: 30px;
    text-align: right;
}
  
h2.anchored {
    font-family: "Oleo Script", 'Merriweather', 'Roboto', $headings-font-family;
    font-size: $font-size-base * 1.1;
}

.home-page-subtitle {
    font-family: "Oleo Script", 'Merriweather', 'Roboto', $headings-font-family;
    font-size: $font-size-base * 1.7;
    color: $teal !important;
    border-bottom: 3px solid $teal;
    border-radius: 0px;
    margin-bottom: 30px;
    // text-align: right;
}

.skills-text {
    font-family: "Oleo Script", 'Merriweather', 'Roboto', $headings-font-family;
    font-size: $font-size-base * 1.1;
}

.sidebar-item-container{
    font-family: "Oleo Script", 'Merriweather', 'Roboto', $headings-font-family;
    font-size: $font-size-base * 1.2;
}

a.sidebar-item-text.sidebar-link.text-start{
    font-family: "Oleo Script", 'Merriweather', 'Roboto', $headings-font-family;
    font-size: $font-size-base * 1.5;
    // color: $primary
}

.fas, .fa-solid{
    font-family: "Oleo Script", "Libre Baskerville", $headings-font-family;
    color: $teal !important;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    font-family: "Oleo Script", "Libre Baskerville", $headings-font-family;
    font-size: $font-size-base * 2.5;
}
  
.navbar{
 height: 1.3cm;
}

.navbar-dark .navbar-brand {
    font-family: "Oleo Script", 'Merriweather', 'Roboto', $headings-font-family;
    font-size: $font-size-base * 1.75;
}

.nav-item{
    font-family: "Oleo Script", 'Merriweather', 'Roboto', $headings-font-family;
    font-size: $font-size-base * 1.5;
}

.show-abstract {
    font-family: "Oleo Script", 'Merriweather', 'Roboto', $headings-font-family;
    color: $teal;
    border: 0px solid white;
    font-weight: bold !important;
}
  

